.main-text {
    color: white;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    padding: 20px;
    font-size: 26px;
    margin: 0px;
    font-weight: 300;
  }

  .card-container {
    justify-content: center;
    padding-bottom: 40px;
}