.home-card-wrapper {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2a5cad;
  flex-direction: column;
}

.stepper-bar {
  padding: 20px;
}

.customCard {
  margin-top: 20px;
}